@model User


<div class="text-center">

    <div style="display: flex; flex-direction: column; justify-content: center; color: green">
    <p>Recent Dishes</p>
        <div style="display: flex; flex-direction: row; justify-content: center;">
        <a asp-controller="Home" asp-action="RegisterPage" style="margin-right: 5px">Register</a>
            <a asp-controller="Home" asp-action="LoginPage" style="margin-left: 5px">Login</a>

        </div>
    </div>
    <hr />

    @if (Model != null)
    {
        <p>Hello @Model.FirstName</p>

        <a style="margin: auto" asp-action="Logout" asp-controller="Home"><button>Logout</button></a>

        @foreach (var x in Model)
        {
            <hr style="width: 300px; margin: auto" />
            <li><a asp-controller="Home" asp-action="ViewDish" asp-route-id="@x.Id">@x.Name</a> by @x.Chef</li>
            <li><a asp-controller="Home" asp-action="EditDish" asp-route-id="@x.Id">Edit</a></li>
        }
    }
    else
    {
        <p>Hello, Please Register or Sign In</p>
    }

</div>
